<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DbConnectionString" value="data source=localhost;Initial catalog={0};Integrated Security=True" />-->
    <add key="DbConnectionString" value="Server = localhost; port = 3306; Database = {0}; user = eform; password = eform; Convert Zero Datetime = true;" />
    <!--<add key="DatabaseType" value="MSSQL" />-->
    <add key="DatabaseType" value="MYSQL" />
  </appSettings> 
</configuration>